<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="post-container">
        <div class="post-container" id="posts-replace"
            hx-get="/api/posts?page=1"
            hx-trigger="load"
            hx-target="#posts-replace"
            hx-swap="outerHTML">
            Loading...
        </div>
    </div>
    <script src="{{ url_for('static', filename='htmx.2.0.5.min.js') }}"></script>
</body>
</html>